<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
  </head>
  <body>
    <nav class="w3-bar w3-border w3-light-grey" role="navigation">
      <div class="w3-bar-item w3-text-grey">igoinvest Singapore haha</div><a class="w3-bar-item w3-button" href="/">Home</a><a class="w3-bar-item w3-button" id="qsLoginBtn" href="/login">Log In</a>
    </nav>
  </body>
</html>